<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/js/bootstrap-colorpicker.min.js"></script> 
    <link rel="stylesheet" href="edit.css"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <h1>Baskin Robbins ins in s</h1>
        <div class = "row">
            <div class = "col-lg-6">
                <h1>Name: </h1>
                <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn"></div>
            </div>
            <h2>Choose cone color: </h2>
            <input class="form-control" type="text" id="color"/>
           
            <h3>Choose scoop color: </h3>
            <input class="form-control" type="text" id="color2"/>
            

<h4>Chunks: </h4>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Gallery</button>
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
               
                <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Choose your perfect topping:</h4>
                        </div>
                        <div class="modal-body">
                  <img src="images/bunny.jpg">
                  <img src="images/bee.jpg">
                  <img src="images/cattt.jpg">
                  <img src="images/flamingo2.jpg">
                  <img src="images/grumpycat.jpg">
                  <img src="images/ham.jpg">
                  <img src="images/hamster.jpg">
                  <img src="images/hungrycat.jpg">
                  <img src="images/kabanos.jpg">
                  <img src="images/leaf.jpg">
                  <img src="images/llama.jpg">
                  <img src="images/lol.jpg">
                  <img src="images/minion.jpg">
                  <img src="images/monkey.jpg">
                  <img src="images/nlo.jpg">
                  <img src="images/piggly.jpg">
                  <img src="images/pill.jpg">
                  <img src="images/pug.jpg">
                  <img src="images/runningchicken.jpg">
                  <img src="images/sofa.jpg">
                  <img src="images/strawberry.jpg">
                  <img src="images/sumo.jpg">
                  <img src="images/superman.jpg">
                  <img src="images/sushi.jpg">
      
                  
                </div>
              
              </div>
        </div>
            
    </div>  
    <h5>Sprinkles: </h5>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Gallery</button>
    <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            
                   
                    <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Sprinkle it!:</h4>
                            </div>
                            <div class="modal-body">
                      <img src="images/sprinkles.jpg">
                      <img src="images/sprinkles1.jpg">
                      <img src="images/sprinkles3.jpg">
                      <img src="images/sprinkles4.jpg">
                      <img src="images/sprinkles5.jpg">
                        
                    </div>
                  
                  </div>
            </div>   
     
    </div> 
    <br>
    <br>
    <h1>Description: </h1>
                <div class="input-group">
                        <input type="text" class="form-control" aria-label="..." style="width: 560px;
                        height: 84px;">
                        <div class="input-group-btn"></div>
            </div>
    <!-- <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">DESCRIPTION: </span>
            <input type="text" class="form-control" placeholder="TELL US MORE ABOUT THIS MASTERPIECE" aria-describedby="sizing-addon1">
          </div> -->

    
    
  
   
    </div>
    <div class = "col-lg-6"></div>
    </div>
    </div>
    
     
    <script>
            $('#color').colorpicker({});
            $('#color2').colorpicker({});
        </script>

      
      <!-- <script src="edit.js"></script> -->
</body>
</html>