<html>
<% include partials/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Name: </h1>
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="...">
                    <div class="input-group-btn"></div>
                </div>
                <h2>Choose cone color: </h2>
                <input class="form-control" type="text" id="color" />

                <h3>Choose scoop color: </h3>
                <input class="form-control" type="text" id="color2" />

                <h4>Chunks: </h4>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Gallery</button>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Choose your perfect topping:</h4>
                            </div>
                            <div class="modal-body">
                                <img src="images/bunny.jpg">
                                <img src="images/bee.jpg">
                                <img src="images/cattt.jpg">
                                <img src="images/flamingo2.jpg">
                                <img src="images/grumpycat.jpg">
                                <img src="images/ham.jpg">
                                <img src="images/hamster.jpg">
                                <img src="images/hungrycat.jpg">
                                <img src="images/kabanos.jpg">
                                <img src="images/leaf.jpg">
                                <img src="images/llama.jpg">
                                <img src="images/lol.jpg">
                                <img src="images/minion.jpg">
                                <img src="images/monkey.jpg">
                                <img src="images/nlo.jpg">
                                <img src="images/piggly.jpg">
                                <img src="images/pill.jpg">
                                <img src="images/pug.jpg">
                                <img src="images/runningchicken.jpg">
                                <img src="images/sofa.jpg">
                                <img src="images/strawberry.jpg">
                                <img src="images/sumo.jpg">
                                <img src="images/superman.jpg">
                                <img src="images/sushi.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <h5>Sprinkles: </h5>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Gallery</button>


                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Sprinkle it!:</h4>
                            </div>
                            <div class="modal-body">
                                <img src="images/sprinkles.jpg">
                                <img src="images/sprinkles1.jpg">
                                <img src="images/sprinkles3.jpg">
                                <img src="images/sprinkles4.jpg">
                                <img src="images/sprinkles5.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <h1>Description: </h1>
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." style="width: 560px;
                        height: 84px;">
                    <div class="input-group-btn"></div>
                </div>

                <!-- <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">DESCRIPTION: </span>
            <input type="text" class="form-control" placeholder="TELL US MORE ABOUT THIS MASTERPIECE" aria-describedby="sizing-addon1">
          </div> -->

            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>


    <script>
        $('#color').colorpicker({});
        $('#color2').colorpicker({});
    </script>

    </body>

</html>