<html>
<% include partials/header.ejs %>

	<div class="container">
		<div class="row homeCreams">
			<div class="pic">
				1
			</div>
			<div class="pic">
				2
			</div>
			<div class="pic">
				3
			</div>
			<div class="pic">
				4
			</div>
			<div class="pic">
				5
			</div>
			<div class="pic">
				6
			</div>
			<div class="pic">
				7
			</div>
			<div class="pic">
				8
			</div>
			<div class="pic">
				9
			</div>
			<div class="pic">
				10
			</div>
		</div>
	</div>


	<script type="text/javascript" src="/slick/slick.min.js"></script>
	<script type="text/javascript" src="/js/slick.js"></script>
	</body>

</html>