<html>
<% include partials/header.ejs %>
    <div class="container profileWell" id="profileInfo">
        <div id="infoHeader">
            <span id="infoTitle">Profile Info</span>
        </div>
        <div class="jumbotron">
            <div class="row">
                <div class="form-group">
                    <form>
                        <!-- avatar -->
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div id="profileAvatar"><img src=https://avatars.io/twitter/<%=user.avatar %> class='img-responsive'></div>
                        </div>
                        
                        <!-- form fields -->
                        <div class="col-lg-8 col-md-8 col-sm-8" id="profileForm">
                            <div class="input-group">
                                <span class="input-group-addon" id="addon1">Name: </span>
                                <span><%= user.name %></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon2">Email: </span>
                                <span><%= user.email %></span>
                            </div>
        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- freezer gallery -->
    <div class="container profileWell">
        <div id="freezerHeader">
            <span id="freezerTitle">Freezer: </span>
            <span id="freezerCount">[# of flavors] + </span>
        </div>
        <div class="row">
            <div id="freezer">
                <canvas id="canvas" width="800" height="400"></canvas>
                <!-- <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div>
                <div class="pic">
                    <img src="\SVG\iceCream.svg">
                </div> -->
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/slick.js"></script>
    <script type="text/javascript" src="/js/profile.js"></script>
    </body>

</html>