body{
  background-color: #99ccff !important;
}

.navbar, .navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar, .navbar-default, .navbar-collapse {
  background-image: none;
  background-color: rgba(255,255,255,.4) !important;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#navBubbles{
  width:50px;
  position:absolute;
  z-index: 1000000;
  top:10px;
  right:10px;
}

#userButton, #addButton, #searchButton{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#fff;
  margin-bottom: 10px;
}

.homeCreams{
  width: 80%;
  height: 600px;
  margin:0px auto;
  margin-top:80px;
}

.slider{
  text-align: center;
}

.slider div{
  margin-right: 25px;
}
.slick-slide{
  background-color: #fff;
  opacity: .6;
}
.slick-center{
  display: block;
  opacity: 1;
  transform: scale(1.4);
  z-index:500000;
}