@font-face {
  font-family: 'Scripty';
  src: url('../scriptFont.ttf');
}

body{
  background-color: #fff ;
  font-family: "Scripty";
  padding-top: 90px;
}

.navbar, .navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar, .navbar-default, .navbar-collapse {
  height:100px;
  background-image: none;
  background-color: transparent !important;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand{
  width: 750px;
  margin-left: 20px;
}

#navBubbles{
  width:50px;
  position:fixed;
  z-index: 1000000;
  top:10px;
  right:10px;
}

#userButton, #addButton, #searchButton{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#fff;
  margin-bottom: 10px;
}

/* home page */
#activeTitle{
  position: absolute;
  width: auto;
  /* height: 140px; */
  background-color: rgba(255,255,255, .8);
  /* background-image: url(/SVG/titleBox.svg); */
  border: 15px solid;
  -webkit-border-image: url("/images/hand-drawn/Asset 363.png") 30 stretch;
  -o-border-image: url("/images/hand-drawn/Asset 363.png") 30 stretch;
  border-image: url("/images/hand-drawn/Asset 363.png") 30 stretch;
  border-image-slice: 50;
  background-clip: padding-box;
  /* object-fit: fill; */
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat;
  background-position: center; */
  border-radius: 15px;
  z-index: 1000000000;
  display: block;
  top: 140px;
  padding: 10px 20px;
  font-size: 3em;
  justify-content: center;
}

/* #activeTitle svg{
  height: 100%;
  width: 100%;
  object-fit: fill;
  z-index: -1;
  position: absolute;
} */

#titleSpan{
  z-index:40;
  position:relative;
  padding:20px 40px;
}


#activeDescription{
  position: absolute;
  width: 40% auto;
  max-width:800px;
  min-width: 520px;
  height: 272px;
  border: 18px solid;
  background-color: rgba(255,255,255, .8);
  -webkit-border-image: url("/images/hand-drawn/Asset 428.png") 30 stretch;
  -o-border-image: url("/images/hand-drawn/Asset 428.png") 30 stretch;
  border-image: url("/images/hand-drawn/Asset 428.png") 30 stretch;
  border-image-slice: 50;
  background-clip: padding-box;
  border-radius: 15px;
  z-index: 1000000000;
  display: block;
  bottom: 10%;
  right: 5%;
  padding: 10px 20px;
  font-size: 2.5em;
}

/* #activeDescription svg{
  height: 100%;
  width: 100%;
  z-index: -1;
  position: relative;
} */

#descSpan{
  z-index:40;
}

#searchBox{
  position: fixed;
  display: none;
  height: 50px;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  top: 130px;
  right: 10px;
}

#searchBox > div {
  margin-top:10px;
}

/* profile page */
#profileAvatar{
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px auto;
  margin-bottom: 10px;
  border-immage:
}

#profileAvatar img{
  border-radius: 50%;
}

#profileInfo{
  margin-top:7%;
}

.profileWell{
  width: 80%;
}

.profileBtn{
  width:100%;
  height: 33px;
  margin-bottom: 1px;
}

#profileForm{
  margin-bottom: 10px;
}

#addon1, #addon2, #addon3{
  width:100px;
}

#profileForm > .input-group {
  width: 100%;
}

.homeWrapper{
  width: 90%;
  margin: 0px auto;
}

/* homepage slick carousel */
.homeCreams{
  width: 100%;
  height: 90%;
  margin:0px auto;
  margin-top:5%;
}

/* profile page slick carousel */
#freezer{
  width: 100%;
  height: 350px;
  margin:0px auto;
}

#freezer > div > div > div > img {
  margin-top: 50px;
}

/* global slick carousel styles */
.slider{
  text-align: center;
}

.slide {
  display:inline-block;
}

.slider div{
  margin-right: 25px;
}
.slick-slide{
  background-color: transparent;
  /* vopacity: .6; */
  margin-right:10px;
}

.slick-slide:focus{
  outline: 0px transparent !important;
}

#freezer > div > div > div > .slick-side:hover {
  background-color: rgba(209, 211, 236, 0.527) !important;
}


.slick-arrow{
  z-index: 10000000000000000000 !important;
  background: #fff !important;
  height: 30px !important;
  width: 30px !important;
  border-radius:50%;
}

.homePic{
   vertical-align: middle; 
}
.slick-center{
  display: block;
  opacity: 1;
  transform: scale(1.4);
  z-index:500000;
}

.slick-slide svg {
  min-width: calc(100% - 100px);
  height: 75%;
  /* margin: 0px auto; */
  margin-left: 45px;
  max-width: 60%;
}

body > div.homeWrapper > div.homeCreams.slick-initialized.slick-slider > div{
  padding: 50px 50px !important;
  overflow: visible;
}

/* styles for the login modal  */
#login_modal{
  margin-top: 80px;
}


.panel-login {
  border: 18px solid;
  background-color: rgba(255,255,255, .8) !important;
  -webkit-border-image: url("/images/hand-drawn/Asset 366.png") 30 stretch;
  -o-border-image: url("/images/hand-drawn/Asset 366.png") 30 stretch;
  border-image: url("/images/hand-drawn/Asset 366.png") 30 stretch;
  border-image-slice: 50;
  background-clip: padding-box;
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
  font-size: 32px;
  border-image-slice: 10;
  border: 10px solid;
  -webkit-border-image: url("/images/hand-drawn/Asset 366.png") 30 stretch;
  -o-border-image: url("/images/hand-drawn/Asset 366.png") 30 stretch;
  border-image: url("/images/hand-drawn/Asset 366.png") 50 stretch;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.panel-login>.panel-heading a{
text-decoration: none;
color: #666;
font-weight: bold;
font-size: 32px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
color: #029f5b;
font-size: 36px;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
height: 45px;
border: 1px solid #ddd;
font-size: 16px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
outline:none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border-color: #ccc;
}
.btn-login {
background-color: #59B2E0;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
text-transform: uppercase;
border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
color: #fff;
background-color: #53A3CD;
border-color: #53A3CD;
}
.forgot-password {
text-decoration: underline;
color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
text-decoration: underline;
color: #666;
}

.btn-register {
background-color: #1CB94E;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
text-transform: uppercase;
border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
color: #fff;
background-color: #1CA347;
border-color: #1CA347;
}


#profileInfo > div.jumbotron{
  border: 18px solid;
  background-color: rgba(255,255,255, .8) !important;
  -webkit-border-image: url("/images/hand-drawn/Asset 366.png") 30 stretch;
  -o-border-image: url("/images/hand-drawn/Asset 366.png") 30 stretch;
  border-image: url("/images/hand-drawn/Asset 366.png") 30 stretch;
  border-image-slice: 50;
  background-clip: padding-box;
  border-radius: 15px;
  z-index: 1000000000;
  display: block;
  bottom: 10%;
  right: 5%;
  padding: 10px 20px;
  /* font-size: 2.5em; */
}

@media only screen and (max-width: 1424px) {
  .slick-slide svg {
    min-width: calc(100% - 100px);
    height: 85%;
    /* margin: 0px auto; */
    margin-left: 45px;
    max-width: 60%;
  }

  .navbar-brand{
    width: 550px;
  }
}

@media only screen and (max-width: 768px) {
  .slick-slide svg {
    min-width: calc(100% - 100px);
    height: 75%;
    /* margin: 0px auto; */
    margin-top: 90px;
    margin-left: 45px;
    max-width: 60%;
  }

  .navbar-brand{
    width: 30%;
    min-width: 300px;
  }

  .navbar{
    background-color: transparent !important;
  }

  #activeTitle{
    padding: 10px 20px;
    font-size: 1em;
  }

  #activeDescription{
    min-width: 420px;
    max-width: 90%;
    bottom: 10%;
    right: 5%;
    padding: 10px 20px;
    font-size: 2.5em;
    word-wrap: break-word;
  }

}


